{% extends "base.html" %} 
{% block title %}Search{% endblock %}

{% block content %}
<h1>Make a Playlist</h1>
<form action="/playlist" method="post">
    <label for="song_name">Song Name:</label>
    <input type="text" id="song_name" name="song_name" value="None"><br>
    <label for="artist_name">Artist Name:</label>
    <input type="text" id="artist_name" name="artist_name" value="None"><br>
    <label for="user_input">Your Lyrics Here:</label>
    <textarea id="user_input" name="user_input" rows="4" cols="20">None</textarea><br>
    <button type="submit">Submit</button>
</form>
<p>Generate a playlist based on a song you like, or make up some lyrics.</p>


{% endblock %}