{% extends "base.html" %} 
{% block title %}Search{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Song</title>
</head>
<body>
    <h1>Vibe Match Song</h1>
    <form action="/search" method="post">
        <label for="song_name">Song Name:</label>
        <input type="text" id="song_name" name="song_name" required><br>
        <label for="artist_name">Artist Name:</label>
        <input type="text" id="artist_name" name="artist_name" required><br>
        <button type="submit">Search</button>
    </form>
</body>
</html>


{% endblock %}